#form {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
  }
    
p{
    color: lightgray;
    padding: 5px;
    margin: 5em;
}
#click{
    margin-left: -0.2em;
}
#decision{
    margin-left: 5em;
}

.choicesCSSclass{
    width: max-content;
    height: max-content;
}